*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header{
    background: linear-gradient(135deg,#4203a9,#90bafc);
    color: #fff;
    height: 100vh;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
}
.header .calculator{
    margin: auto;
    /* position: absolute;
    left: 10%;
    top: 10%; */
}
.header .calculator h1{
  
    width: auto;
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
}
.header .calculator h1 span{
    color:#ffff76
}
.header .calculator .input-box{
  
    margin-top: 15px;
    padding: 35px;
    border-radius: 10px;
    background: rgba(54, 27, 27, 0.3);
    width: auto;
    height: auto;
    

}
.header .calculator .input-box input{
     flex:1;
     margin-right: 20px;
     padding: 14px 20px;
     border: 0;
     outline: 0;
     font-size: 18px;
     border-radius: 5px;
     position: relative;
}
.header .calculator .input-box button{
    background: #ffff76;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    width: auto;
    height: auto;
}
.header .calculator .input-box input::-webkit-calendar-picker-indicator{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position:right;
    background-size: 30px;
    cursor: pointer;
}
.header .res{
    font-size: 28px;
    margin-top: 10px;
}
.header .res span{
    color: #f1f159
}